NEXT_PUBLIC_SUPABASE_URL=https://pxuitkdwuvnmffgmdhqs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4dWl0a2R3dXZubWZmZ21kaHFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NjY1NzMsImV4cCI6MjA5MzI0MjU3M30.kB6v9eZ9HPmHjWKBARMHTS7h63ODsBBxUBZgdhnf7W0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4dWl0a2R3dXZubWZmZ21kaHFzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzY2NjU3MywiZXhwIjoyMDkzMjQyNTczfQ.zhlu6DJmZT08MYvFpte7bJQ-keWJ3IsTlpTZAlYKShA
RESEND_API_KEY=
